spring:
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:bookstore_db}?useSSL=false&serverTimezone=UTC
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      username: ${REDIS_USERNAME:}
      password: ${REDIS_PASSWORD:}

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  signerKey: "${JWT_SIGNER_KEY:}"
  valid-duration: 3600
  refreshable-duration: 2592000

cloudinary:
  cloud-name:
  api-key:
  api-secret:

payment:
  vnPay:
    tmnCode: ${VNPAY_TMN_CODE:}
    secretKey: ${VNPAY_SECRET_KEY:}
    url: https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
    returnUrl: http://localhost:8080/api/payment/vnpay/callback
    version: 2.1.0
    command: pay
    orderType: other

