spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      username: ${REDIS_USERNAME}
      password: ${REDIS_PASSWORD}

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  signerKey: ${JWT_SIGNER_KEY}
  valid-duration: ${JWT_VALID_DURATION}
  refreshable-duration: ${JWT_REFRESHABLE_DURATION}

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME:}
  api-key: ${CLOUDINARY_API_KEY:}
  api-secret: ${CLOUDINARY_API_SECRET:}

payment:
  vnPay:
    tmnCode: ${VNPAY_TMN_CODE}
    secretKey: ${VNPAY_SECRET_KEY}
    url: ${VNPAY_URL}
    returnUrl: ${VNPAY_RETURN_URL}
    version: 2.1.0
    command: pay
    orderType: other

  zaloPay:
    appId: ${ZALOPAY_APP_ID}
    key1: ${ZALOPAY_KEY1}
    key2: ${ZALOPAY_KEY2}
    zaloPayUrl: ${ZALOPAY_URL}
    returnUrl: ${ZALOPAY_RETURN_URL}
    redirectUrl: ${ZALOPAY_REDIRECT_URL}
    callbackUrl: ${ZALOPAY_CALLBACK_URL}
